
/********** REGOLE GENERALI **********/

.mt_90 {
    margin-top: 110px;
}

.opacity_5 {
    opacity: 0.5;
}

.bgc_white {
    background-color: #fff;
}
/********** HEADER **********/

.header_top {
    background-color: black;
}

.header_top img{
    width: 10%;
}

.btn_menu {
    border-radius: 20px;
    background-color: #363636;
    border:none;
}


/********** MENU **********/

nav {
    height: 80px;
    background-color: white;
}



/********** MENU DROPDOWN **********/
.navbar .megamenu{ padding: 1rem; }

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }

}	
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media(max-width: 991px){
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
    overflow-y: auto;
      max-height: 90vh;
      margin-top:10px;
  }
}
/* ============ mobile view .end// ============ */

.menu_drop_mega {
    border:none;
    
}

.menu_drop_mega ul li{
    list-style: none;
}

.menu_drop_mega ul {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px 200px;
}

.sotto_menu {
    width: 100%;
    border-top: 1px solid black;
}

.sotto_menu ul li  {
    padding: 0px 20px;
}

.sotto_menu ul li a {
    text-decoration: none;
    color: black;
    vertical-align: sub;
}

.sotto_menu ul li span {
    color: blue;
    font-size: 40px;
    vertical-align:middle;
}


/********** JUMBOTRON **********/

.background_jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}

.text_jumbotron {
    color: white;

}

.text_jumbotron img {
    width: 200px;
}


.btn_jumbotron {
    border-radius: 20px;
    background-color: #cd3d0f;
    border:none;
}

.img_jumbotron {
    height: 150px;
    border-radius: 20px;
}

.img_jumbotron img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.img_bot_section1 img {
    width: 100%;
}




/********** SECTION 1 **********/

.img_dx_section1 img {
    width: 100%;
}

.btn_section1 {
    border-radius: 20px;
    border:none;
    background-color: #2d64e6;
}




/********** SECTION 2 **********/


.section2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    color: white;
}

.text_section2 img {
    width: 40%;
}


/********** SECTION 3 **********/

.section3 { 
    background-color: #1f1f1f;
}

.section3_top_text {
    color: white;
}


.section3_bottom {
    color: white;

}

.img_sectio3 img {
    width: 100%;
    border-radius: 20px;
}




/********** SECTION 4 **********/

.img_section_4 img {
    width: 100%;
}






/********** SECTION 5 **********/

.section5 {
    background-color:#bebcbb;
}
.text_section5 img {
    width: 90%;
}

.img_section5 img {
    width: 100%;
}


.btn_section5 {
    border-radius: 20px;
    border:none;
    background-color: #d9d9db;
    color: #3669e5;
}





/********** SECTION 6 **********/

.img_section6 img{
    width: 100%;
}



/********** SECTION 7 **********/

.section7 {
    background-color:#161c3b;
    color: white;
}
.text_section7 img {
    width: 50%;
}

.img_section7 img {
    width: 100%;
}


.btn_section7 {
    border-radius: 20px;
    border:none;
    background-color: #d9d9db;
    color: black;
}




/********** SECTION 8 **********/

.social_section8 img {
    width: 10%;
}






/********** FOOTER **********/

.footer_bgc {
    background-color: #00439c;
}
.logo_ps {
    width: 90px;
    display: block;
}

.logo_globe{
    width: 20px;
    display: inline;
}

.text_globe {
    display: inline-block;
    color: white;
}

.foot_top_2 ul {
    list-style: none;
}

.foot_top_2 a {
    text-decoration: none;
    color: white;
}

.foot_bottom img {
    width: 150px;
}

.foot_bottom p {
    color: white;
}

.foot_bottom p a {
    color: white;
}







