
/********** REGOLE GENERALI **********/

.mt_90 {
    margin-top: 110px;
}

.opacity_5 {
    opacity: 0.5;
}
/********** HEADER **********/

.header_top {
    background-color: black;
}

.header_top img{
    width: 100px;
}

.btn_menu {
    border-radius: 20px;
    background-color: #363636;
    border:none;
}


/********** MENU **********/

nav {
    height: 80px;
    background-color: grey;
}



/********** JUMBOTRON **********/

.background_jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}

.text_jumbotron {
    color: white;

}

.text_jumbotron img {
    width: 200px;
}


.btn_jumbotron {
    border-radius: 20px;
    background-color: #cd3d0f;
    border:none;
}

.img_jumbotron {
    height: 150px;
    border-radius: 20px;
}

.img_jumbotron img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.img_bot_section1 img {
    width: 100%;
}




/********** SECTION 1 **********/

.img_dx_section1 img {
    width: 100%;
}

.btn_section1 {
    border-radius: 20px;
    border:none;
    background-color: #2d64e6;
}




/********** SECTION 2 **********/


.section2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    color: white;
}

.text_section2 img {
    width: 200px;
}


/********** SECTION 3 **********/

.section3_top_text {
    color: white;
}


.section3_bottom {
    color: white;

}

.img_sectio3 img {
    width: 100%;
    border-radius: 20px;
}










/********** DEBUG **********/


/********** SECTION3 **********/

.debug .section3 {
    
    background-color: #1f1f1f;
}





/********** SECTION 4  **********/


.debug .title_section4 {
    height: 200px;
    background-color: brown;
}

.debug .img_section4 {
    height: 400px;
    background-color: yellow;
}


/********** SECTION 5  **********/

.debug .section5 {
    height: 400px;
    background-color: aqua;
}

.debug .text_section5 {
    height: 100%;
    background-color: azure;
}


/********** SECTION 6  **********/

.debug .title_section6 {
    height: 200px;
    background-color: beige ;
}

.debug .bottom_section6 {
    height: 400px;
    background-color: burlywood;
}

.debug .img_section6 {
    height: 80%;
    background-color: blueviolet;
}


/********** SECTION 7  **********/

.debug .section7 {
    height: 400px;
    background-color: aqua;
}

.debug .text_section7 {
    height: 100%;
    background-color: azure;
}



/********** SECTION 8 **********/

.debug .title_section8 {
    height: 200px;
    background-color: coral;
}


.debug .social_section8 {
    height: 300px;
    background-color: crimson;
}



/********** FOOTER **********/

.debug  .footer_bgc {
   
    background-color: DarkCyan;
}

.debug .foot_top_1 {
    height: 200px;
    background-color: DarkGoldenRod;
}

.debug .foot_top_2 {
    height: 200px;
    background-color: DarkGreen;
}

.debug .foot_top_3 {
    height: 200px;
    background-color: DarkKhaki;
}

.debug .foot_top_4 {
    height: 200px;
    background-color: DarkMagenta;
}


.debug .foot_bottom {
    height: 200px;
    background-color: DarkSeaGreen;
}