
/********** REGOLE GENERALI **********/

.mt_90 {
    margin-top: 110px;
}

/********** HEADER **********/

.header_top img{
    width: 100px;
}

.btn_menu {
    border-radius: 20px;
    background-color: #363636;
    border:none;
}



/********** JUMBOTRON **********/

.background_jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}

.text_jumbotron {
    color: white;

}

.text_jumbotron img {
    width: 200px;
}


.btn_jumbotron {
    border-radius: 20px;
    background-color: #cd3d0f;
    border:none;
}

















/********** DEBUG **********/


/********** MENU **********/

.debug .header_top {
    background-color: black;
}


.debug nav {
    height: 80px;
    background-color: grey;
}


/********** JUMBOTRON **********/

.debug .jumbotron {
    background-color: Aqua ;
}




.debug .img_jumbotron {
    height: 150px;
    background-color: Crimson;
}



/********** SECTION 1 **********/

.debug .top_section1{
    height: 200px;
    background-color: green;
}

.debug .text_section1 {
    height: 200px;
    background-color: red;
}

.debug .center_section1 {
    height: 500px;
    background-color: grey;
}

.debug .text_sx_section1 {
    height: 500px;
    background-color: black;
}

.debug .img_dx_section1 {
    height: 500px;
    background-color: green;
}

.debug .bottom_section1 {
    height: 200px;
    background-color: red;
}

.debug .img_bot_section1 {
    height: 80%;
    background-color: grey;
}


/********** SECTION 2 **********/

.debug .section2 {
    height: 500px;
    background-color: green;
}

.debug .text_section2 {
    height: 100%;
    background-color: red;
}


/********** SECTION3 **********/

.debug .section3 {
    
    background-color: grey;
}

.debug .section3_top_text {
    height: 200px;
    background-color: black;
}

.debug .img_sectio3 {
    height: 150px;
    background-color: pink;
}


/********** SECTION 4  **********/


.debug .title_section4 {
    height: 200px;
    background-color: brown;
}

.debug .img_section4 {
    height: 400px;
    background-color: yellow;
}


/********** SECTION 5  **********/

.debug .section5 {
    height: 400px;
    background-color: aqua;
}

.debug .text_section5 {
    height: 100%;
    background-color: azure;
}


/********** SECTION 6  **********/

.debug .title_section6 {
    height: 200px;
    background-color: beige ;
}

.debug .bottom_section6 {
    height: 400px;
    background-color: burlywood;
}

.debug .img_section6 {
    height: 80%;
    background-color: blueviolet;
}


/********** SECTION 7  **********/

.debug .section7 {
    height: 400px;
    background-color: aqua;
}

.debug .text_section7 {
    height: 100%;
    background-color: azure;
}



/********** SECTION 8 **********/

.debug .title_section8 {
    height: 200px;
    background-color: coral;
}


.debug .social_section8 {
    height: 300px;
    background-color: crimson;
}



/********** FOOTER **********/

.debug  .footer_bgc {
   
    background-color: DarkCyan;
}

.debug .foot_top_1 {
    height: 200px;
    background-color: DarkGoldenRod;
}

.debug .foot_top_2 {
    height: 200px;
    background-color: DarkGreen;
}

.debug .foot_top_3 {
    height: 200px;
    background-color: DarkKhaki;
}

.debug .foot_top_4 {
    height: 200px;
    background-color: DarkMagenta;
}


.debug .foot_bottom {
    height: 200px;
    background-color: DarkSeaGreen;
}